# =================== BETTER RUN COMMAND ===================

# Detect currently used shell, and define it's .rc path as $SHRC
case "$SHELL" in
   */bash)
       export SHRC="$HOME/.bashrc"
       ;;
   */zsh)
       export SHRC="$HOME/.zshrc"
       ;;
   */ksh)
       export SHRC="$HOME/.kshrc"
       ;;
   */fish)
       export SHRC="$HOME/.config/fish/config.fish"
       ;;
   *)
       # Fallback for other shells
       export SHRC="$HOME/.profile"
       ;;
esac

# Reload shell automatically (source .$0rc)
alias reloadrc="source $SHRC"

# Copy: echo "Stuff" | copy, copy "Stuff", copy $VAR
copy() {
   # Copy from stdin (e.g., echo "text" | copy)
   if [ $# -eq 0 ]; then
       xclip -selection clipboard
   else
       # Copy directly from a string or variable
       echo -n "$*" | xclip -selection clipboard
   fi
}

# Paste: paste, <command> $(paste)
paste() {
   xclip -selection clipboard -o
}

# Eg: copyf <filename>
alias copyf="cat $1 | xclip -selection clipboard"

# Space usage for current folder
alias diskspace="du -sh * 2>/dev/null | sort -h"

# Display weather for your location or specified city
weather() {
   if [ -z "$1" ]; then
       curl "wttr.in?format=4"
   else
       curl "wttr.in/${1// /+}?format=4"
   fi
}

# Find any file and open with fzf
fopen() {
   local file
   file=$(find . -type f -iname "*$1*" | fzf) && xdg-open "$file"
}

# Find files by name
alias ffind="find . -type f -iname"

# Find directories by name
alias dfind="find . -type d -iname"

# Create a directory and immediatly cd into it
mkcd() {
    mkdir -p "$1" && cd "$1"
}

# Man Syntax Highlight
export LESS_TERMCAP_mb=$'\e[1;31m'  # Red
export LESS_TERMCAP_md=$'\e[1;35m'  # Magenta
export LESS_TERMCAP_me=$'\e[0m'     # Reset
export LESS_TERMCAP_se=$'\e[0m'     # Reset
export LESS_TERMCAP_so=$'\e[1;44;33m' # Yellow on blue
export LESS_TERMCAP_ue=$'\e[0m'     # Reset
export LESS_TERMCAP_us=$'\e[1;32m'  # Green

# =================== BETTER RUN COMMAND ===================
